* {

}


.score_time {
display: flex;
justify-content: space-between;
color: rgb(146, 61, 226);
font-family:Arial, Helvetica, sans-serif ;
}
.time {
    color: black;
}

.header_quiz {
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.summary {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.start-quiz-button {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    text-decoration: none;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 31, 133);
    color: aliceblue;
    font-weight: 500;
    width: 10%;
    padding: 15px 25px;
    border-radius: 6px;
    font-size: 15px;
}

.start-quiz-button:hover {
    color: white;
    background-color: rgb(163, 111, 211);
    text-decoration: none;
}
